<aside class="categories">
    <section>
        <h3>Catégories :</h3>
        <ul>
            <% for( const category of categories ) { %>
            <li> <a href="/categories/<%= category.id %>"><%= category.title %></a></li>
            <% } %>
        </ul>

    </section>
</aside>
