<main>
    <section>
        <h2>Sélection de nos meilleurs recettes de la semaine !</h2>
        <p>Soyez le temps d'une journée, le chef cuisinier de votre famille !</p>
        <article>
            <h3><%= article.title %></h3>
                <img src="<%= article.url %>" alt="<%= article.pictureTitle %>">
        </article>

    </section>

</main>