<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>CuistoBlog - Le blog des amoureux de la bonne bouffe</title>
</head>
<body>

    <header>
        <h1>CuistoBlog</h1>
        
        <nav>
            <a href="/">Accueil</a>
            <a href="/recipes">Recettes de Cuisine</a>
            <a href="/auth/sign"><i class="fa-solid fa-circle-user"></i> Connexion</a>
            <a href="/admin"><i class="fa-solid fa-user-lock"></i> Accès Admin</a>
        </nav>
    </header>

    <%- include(template) %>

    <footer>
        <p>© Copyright 2023LC-CuistoBlog</p>
    </footer>

</body>
</html>