<main>
    <section>
        <h2>
            Connectez-vous à votre compte !
        </h2>
        <form action="/auth/sign/in/:id" method="post">
            <fieldset>
                <label for="mail">
                    Entrez votre adresse mail :
                </label>
                <input type="email" name="mail" id="mail">

                <label for="password">
                    Entrez votre mot de passe :
                </label>
                <input type="password" name="password" id="password">

                <input type="submit" value="Se connecter/Se déconnecter">
            </fieldset>
        </form>
    </section>
</main>